# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build and Deploy Python app to Azure Linux Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.13'        # set the version to use
  AZURE_WEBAPP_NAME: 'python-test-1'     # set this to your application's name
  WORKING_DIRECTORY: '.'        # set this to the path to your path of working directory inside github repository, defaults to the repository root
  STARTUP_COMMAND: 'python -m uvicorn app:app --host 0.0.0.0'           # set this to the startup command required to start the gunicorn server. default it is empty
  SLOT_NAME: 'Production'    # set this to your deployment slot name, default is 'Production'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}


      - name: Create and Start virtual environment and Install dependencies
        run: |
          pip install poetry
          python -m venv antenv
          source antenv/bin/activate
          poetry install --only main
      # If the `SCM_DO_BUILD_DURING_DEPLOYMENT` setting is enabled (set to true), the platform uses Oryx during deployment to build the application and install dependencies (for example, running `pip install`). Since the build happens on the platform, we exclude the antenv virtual environment folder from the deployment package. This helps reduce the size of the deployment artifact and avoids sending unnecessary files that will be recreated during the build process.
      - name: Cleanup Venv for Deployment
        run: |
          rm -rf antenv
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9290D402DEC943D7B0D32232E8AFE8D1 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0EA44EF50CF2436690C46DD749C74E4F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E744577B43144310B94DDF2D7097B870 }}


      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ${{ env.WORKING_DIRECTORY }}
          slot-name: ${{ env.SLOT_NAME }}
          startup-command: ${{ env.STARTUP_COMMAND }}


      - name: 'Logout of Azure'
        if: always()
        run: |
          az logout

          

